div { margin: 10px; font-size: 11pt; }
p.blue { color: blue; }
p.green { color: green; }

table { border-collapse: collapse; margin: 5px; }
td { border: 1px solid gray; padding: 4px; }


whiteBg { background-color: white; }
grayBg { background-color: #ddd; }
